@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --text-dark: 44, 54, 57;
  --text-light: 63, 78, 79;
  --background: 220, 215, 201;
  --primary: 162, 123, 92;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-dark: 220, 215, 201;
    --text-light: 63, 78, 79;
    --background: 44, 54, 57;
    --primary: 162, 123, 92;
  }
}

body {
  color: rgb(var(--text-dark));
  background-color: rgb(var(--background));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
